ansible==2.8.5
ansible-lint==4.1.0
appdirs==1.4.3
asn1crypto==1.1.0
astroid==1.6.6
attrs==19.2.0
black==19.3b0
cffi==1.12.3
Click==7.0
cryptography==2.7
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.19
pylint==1.9.5
PyYAML==5.1.2
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
six==1.12.0
toml==0.10.0
wrapt==1.11.2
