{
	"hostname": "{{ inventory_hostname }}",
	"iptablesFile": "iptables/{{ inventory_hostname }}.iptables",
	"hostInterfaces": {
		"{{ ansible_facts["default_ipv4"]["interface"]  }}": {
			"name": "{{ ansible_facts["default_ipv4"]["interface"] }}",
			"prefix": "{{ ansible_facts["default_ipv4"]["address"] }}/{{ ansible_facts["default_ipv4"]["netmask"] }}",
			"gateway": "{{ ansible_facts["default_ipv4"]["gateway"] }}"
		}
	}
}
